<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict><key>CFBundleURLTypes</key>
<array>
  <dict>
  <key>CFBundleURLSchemes</key>
  <array>
    <string>fb3476229615962419</string>
  </array>
  </dict>
</array>
<key>FacebookAppID</key>
<string>3476229615962419</string>
<key>FacebookDisplayName</key>
<string>AFC</string>
	<key>createTime</key>
	<integer>1711678872</integer>
	<key>isAppliedTheme</key>
	<false/>
	<key>mainLayer</key>
	<dict>
		<key>dynamicCrop</key>
		<dict>
			<key>defaultAnimation</key>
			<dict>
				<key>didResetPosition</key>
				<false/>
				<key>didResetRotate</key>
				<false/>
				<key>didResetScale</key>
				<false/>
				<key>frameIndex</key>
				<integer>0</integer>
				<key>isInterpolation</key>
				<false/>
				<key>position</key>
				<dict>
					<key>x</key>
					<real>0.5</real>
					<key>y</key>
					<real>0.5</real>
				</dict>
				<key>ratio</key>
				<real>0.0</real>
				<key>recordedPosition</key>
				<false/>
				<key>recordedRotate</key>
				<false/>
				<key>recordedScale</key>
				<false/>
				<key>rotate</key>
				<real>0.0</real>
				<key>scale</key>
				<real>0.5</real>
				<key>time</key>
				<real>0.0</real>
				<key>timeDesc</key>
				<string>0.000</string>
			</dict>
			<key>duration</key>
			<real>0.0</real>
			<key>ratio</key>
			<real>0.5625</real>
			<key>selectedRatioType</key>
			<integer>0</integer>
			<key>startAt</key>
			<real>0.0</real>
		</dict>
		<key>listItem</key>
		<array>
			<dict>
				<key>anchorPoint</key>
				<dict>
					<key>x</key>
					<real>0.5</real>
					<key>y</key>
					<real>0.5</real>
				</dict>
				<key>boundSize</key>
				<dict>
					<key>height</key>
					<real>3840</real>
					<key>width</key>
					<real>2160</real>
				</dict>
				<key>chromaKeyColor</key>
				<dict>
					<key>b</key>
					<real>-1</real>
					<key>g</key>
					<real>-1</real>
					<key>r</key>
					<real>-1</real>
				</dict>
				<key>chromaKeyMatte</key>
				<integer>20</integer>
				<key>color</key>
				<string>#5856D6FF</string>
				<key>defaultAnimation</key>
				<dict>
					<key>anchorPoint</key>
					<dict>
						<key>x</key>
						<real>0.5</real>
						<key>y</key>
						<real>0.5</real>
					</dict>
					<key>backgroundColor</key>
					<string>#00000000</string>
					<key>bl</key>
					<dict>
						<key>x</key>
						<real>-0.10822128307385408</real>
						<key>y</key>
						<real>1.0253462988651154</real>
					</dict>
					<key>bounds</key>
					<dict>
						<key>height</key>
						<real>0.0</real>
						<key>width</key>
						<real>0.0</real>
					</dict>
					<key>br</key>
					<dict>
						<key>x</key>
						<real>1.0190958188396515</real>
						<key>y</key>
						<real>1.0253462988651154</real>
					</dict>
					<key>colorAdjustment</key>
					<dict>
						<key>brightness</key>
						<real>0.0</real>
						<key>contrast</key>
						<real>1</real>
						<key>hue</key>
						<real>0.0</real>
						<key>saturation</key>
						<real>1</real>
						<key>temperature</key>
						<real>6500</real>
					</dict>
					<key>easingFunctionType</key>
					<integer>0</integer>
					<key>emitterPosition</key>
					<dict>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>flippedHorizontal</key>
					<false/>
					<key>flippedVertical</key>
					<false/>
					<key>fontSize</key>
					<real>0.0</real>
					<key>frameIndex</key>
					<integer>0</integer>
					<key>isInterpolation</key>
					<false/>
					<key>letterSpacing</key>
					<real>0.0</real>
					<key>lineSpacing</key>
					<real>0.0</real>
					<key>maskFilter</key>
					<dict>
						<key>boundRect</key>
						<dict>
							<key>height</key>
							<real>0.0</real>
							<key>width</key>
							<real>0.0</real>
							<key>x</key>
							<real>0.0</real>
							<key>y</key>
							<real>0.0</real>
						</dict>
						<key>center</key>
						<dict>
							<key>x</key>
							<real>0.0</real>
							<key>y</key>
							<real>0.0</real>
						</dict>
						<key>inverted</key>
						<false/>
						<key>position</key>
						<real>0.0</real>
						<key>radius</key>
						<real>0.0</real>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>opacity</key>
					<real>100</real>
					<key>position</key>
					<dict>
						<key>x</key>
						<real>0.45543726788289829</real>
						<key>y</key>
						<real>0.46168774790836353</real>
					</dict>
					<key>recordedMagicTouch</key>
					<false/>
					<key>recordedMove</key>
					<false/>
					<key>recordedOpacity</key>
					<false/>
					<key>recordedRotate</key>
					<false/>
					<key>recordedScale</key>
					<false/>
					<key>rotateDegree</key>
					<real>0.0</real>
					<key>size</key>
					<real>56.365882873535156</real>
					<key>textAlignment</key>
					<integer>0</integer>
					<key>textCurve</key>
					<real>0.0</real>
					<key>time</key>
					<real>0.0</real>
					<key>timeDesc</key>
					<string>0.000</string>
					<key>tintColor</key>
					<string>#00000000</string>
					<key>tl</key>
					<dict>
						<key>x</key>
						<real>-0.10822128307385408</real>
						<key>y</key>
						<real>-0.10197080304838882</real>
					</dict>
					<key>tr</key>
					<dict>
						<key>x</key>
						<real>1.0190958188396515</real>
						<key>y</key>
						<real>-0.10197080304838882</real>
					</dict>
					<key>underlineStyle</key>
					<integer>0</integer>
					<key>underlineStyleModifiers</key>
					<integer>0</integer>
					<key>volume</key>
					<real>100</real>
				</dict>
				<key>duration</key>
				<real>27.035</real>
				<key>enabled3D</key>
				<true/>
				<key>enabledAudoRemoveBackground</key>
				<false/>
				<key>hasNextItem</key>
				<false/>
				<key>isBlankItem</key>
				<false/>
				<key>layerId</key>
				<string>20240329052112609</string>
				<key>localIdentifier</key>
				<string>DA98CF39-B223-45B6-94AE-BF4E85476208/L0/001</string>
				<key>realDuration</key>
				<real>27.035</real>
				<key>size</key>
				<dict>
					<key>height</key>
					<real>3840</real>
					<key>width</key>
					<real>2160</real>
				</dict>
				<key>speed</key>
				<real>1</real>
				<key>timeRageDuration</key>
				<real>0.0</real>
				<key>timeRageStart</key>
				<real>0.0</real>
				<key>transitionName</key>
				<string>None</string>
				<key>type</key>
				<integer>1</integer>
				<key>videoName</key>
				<string>001</string>
				<key>volume</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>outputLength</key>
		<real>27.034999847412109</real>
		<key>outputSize</key>
		<dict>
			<key>height</key>
			<real>3840</real>
			<key>width</key>
			<real>2160</real>
		</dict>
	</dict>
	<key>outputLength</key>
	<real>27.034999847412109</real>
	<key>outputSize</key>
	<dict>
		<key>height</key>
		<real>3840</real>
		<key>width</key>
		<real>2160</real>
	</dict>
	<key>projectId</key>
	<string>Project(1)</string>
	<key>timelineZoomLevel</key>
	<real>90</real>
</dict>
</plist>